body{
	background-color: lightyellow;
	margin: 2%;

}
h1{
	text-align: center;
	width: 100%;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 40px;
}
header{
	text-align: center;
	background-color: #00b7ea;
	padding: 15px;
	margin-top: 20px;
	padding-top: 10px;
	margin-left: 10px;
	margin-right: 10px;

}
nav{
	background-color:;
	font-family: "Times New Roman", Times, serif;
	font-size: 150%;
}
h2{
	background-color: #00b7ea;
	font-family:  sans-serif;
	color:black;
	font-family: impact,Charcoal,sans-serif;
	font-size: 25px;


}
section{
	width: 15%;
	display: inline-block;
	float: left;
	margin: 5%;
	font-family: Impact,Charcoal,sans-serif;

}
footer{
	background-color: #00b7ea;
    clear: both;
	height: 100px; 
}
img{
	width: 190px;
}
ul{
	font-family: Impact,Charcoal,sans-serif;
	list-style-image: url(heart.png);

}
figcaption{
	font-variant-position: left;
	color: #00008b;
	font-family: Impact,Charcoal,sans-serif;
	width: 40%;
}
summary{
	font-family: Impact,Charcoal,sans-serif;
}
p{
	font-family: "Comic Sans Ms",cursive,sans-serif;
	font-variant-caps: all-petite-caps;
	background-color: pink;
}
a {
  background-color: blue;
  color: black;
  padding: 1em .5em;
  padding-bottom: 0.5em;
  padding-top: .6em;
  text-decoration:none;
  text-transform: uppercase;
}

a:visited {
  background-color:yellow;
}
a:hover {
   cursor: pointer;
   color: #0006cc;
   background:#b3b3b3;
}
a:focus{
	background:#b3b3b3;
	color: #0006cc;
}
a:active{
	border:5px solid red; 
}


h4{
	text-align: center;
	font-family: "Courier New",Courier,monospace;
	background-color: yellow;
    margin-right: 25%;
    margin-left: 25%;
    

}
progress{
     color: red;
     background-color: green;
}
summary{
	 color: red;
}
